.class1{
    width: 100%;
    margin: auto;
    position: relative;
    top: 4em;
    max-width: 451px;
}
.text-center1{
    position: relative;
    left: 30%;
}
.text-center2{
    position: relative;
    left: 30%;
    color: green;
}
.class2{
    position: relative;
    left: 241px;
}
.text-center3{
    position: relative;
    width: 46%;
    left: 27%;
    top: 0px;
}
.text-center4{
    position: relative;
    width: 46%;
    top: -17px;
    right: 27%;
}
.fclass{
    position: relative;
    top: -29px;
    left: 5%;
    top: -35px;
    color: white;
}
.tclass{
    position: relative;
    top: -34px;
    left: 5%;
    color: white;
}
input{
    max-height: 58px;
}
.icon_class{
    margin-right: 0px;
}
.fb_class{
    padding-right: 7px;
}
.twitter_class{
    padding-right: -1px;
    
}
.or_class{
    position: relative;
    bottom: -27px;
}
.row{
    margin-bottom: -2%;
}
.input-group-text{
    background-color: white;
}
.fa{
    font-weight: 900;
}
.input-group-text{
    font-size: 0.8125rem;
    min-width: 3rem;
}
.fa-user,.fa-lock,.fa-key{
    transform: translate;
    position: relative;
    left: 7px;
    top: 1px;
}
input,button{
    height:3rem !important;
}
p{
    margin-bottom: 3rem;
    color: #000000a3;
    position: relative;
    bottom: -6px;
}
h1{
    margin-bottom: 7px !important;
}
.btn-facebook{
    background-color: #3b5998;
}
.btn-twitter{
    background-color: #1da1f2;
}